html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

.image-container{
    border:2px black dashed;
    border-radius: 5px;
    width:400px;
    padding: 10px;
}

.image-container img{
    max-width: 100%;
}

code, pre{
    background-color: #eaecf0;
    border: 1px #c8ccd1 solid;
    padding: 0.5px;
}

pre{
    padding:10px;
    width: max-content;
}

@media only screen and (max-width: 630px) {
    .image-container{
        width: 93%;
    }
    pre{
        width:93%;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
  }