.image-container{
    border:2px black dashed;
    border-radius: 5px;
    width:400px;
    padding: 10px;
}

.image-container img{
    max-width: 100%;
}

code, pre{
    background-color: #eaecf0;
    border: 1px #c8ccd1 solid;
    padding: 0.5px;
}

pre{
    padding:10px;
    width: max-content;
}